body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 40%);
}
#Calculator{
    max-width: 500px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 20px;
    overflow: hidden;
}

#Display{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    font-size: 5rem;
    text-align: center;
}

#Keys{
    padding: 25px;
}
#Keys #grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 10px;
}

#Keys button{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    color: white;
    background-color: orange;
    border: none;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    
}
#Keys button:active{
    background-color: darkorange;
}

#Keys #Equals{
    width: 100%;

}